:root {
  /*variables in light mode*/
  --background-start-rgb: rgb(40, 196, 227);
  --background-end-rgb: rgb(255, 255, 255);
  --links-color-rgb: rgb(255, 132, 0);
  --buttons-background-color: rgb(54, 255, 40);

  /*variables in header*/
  --header-background: white;
  --header-texts: rgb(68, 127, 60);
  --header-link-colors-rgb: rgb(0, 255, 42);
}

/*variables in dark mode*/
@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: rgb(30, 30, 30);
    --background-end-rgb: rgb(200, 200, 200);
    --links-color-rgb: rgb(82, 18, 220);
    --buttons-background-color: rgb(81, 83, 23);
  }
}

/*elements in app/layout*/
html {
  background: linear-gradient(
      to bottom,
      var(--background-start-rgb),
      var(--background-end-rgb)
    );
  min-height: 1000px;
}

#header {
  margin-bottom: 10px;
  color: var(--header-texts);
  background-color: var(--header-background);
  font-size: xx-large;
}

#header a { /* the a refers to Link component in header*/
  color: var(--header-link-colors-rgb);
  font-size: 1.5rem;
}

/*elements in app/page*/

main {
  display: flex;
  flex-direction: column;
}

a { /* refers to Link components*/
  color: var(--links-color-rgb);
}

button {
  width : 200px;
  background-color: var(--buttons-background-color);
}

#stagesContainer {
  margin-top: 1em;
  display: flex;
  justify-content: space-between; 
}

div[data-testid="stage"] {
  display: flex;
  flex-direction: column;
}

span {
  margin-bottom: 20px;
}

button:hover {
  background-color: yellow;
}